# build output
dist/

# generated types
.astro/

# obsidian config
src/content/.obsidian/workspace.json
src/content/.obsidian/workspace-mobile.json

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env

# macOS-specific files
.DS_Store

# vendor-specific files
.vscode/