---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const posts = await getCollection('all');
---

<Layout>
	<h1>Index</h1>
	<ul>
		{posts.map(p => <li><a href={`./${p.id}`}>{p.id}</a></li>)}
	</ul>
</Layout>
