---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  post: CollectionEntry<"Bookmarks">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<main>
  <article>
    <Content />
    {post.data.source && <a href={post.data.source}>{post.data.source}</a>}
  </article>
</main>

<style>
  article {
    max-width: 60ch;

    border: thick double seashell;

    padding-inline: 1ch;
  }
</style>
