---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
    post: CollectionEntry<"quotes">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<main>
    <article>
        <Content />
    </article>
</main>

<style>
    article {
        max-width: 60ch;

        border: thick double skyblue;

        padding-inline: 1ch;
    }
</style>
