---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  post: CollectionEntry<"songs">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<main>
  <article>
    <dl>
      <dt>title</dt>
      <dd>{post.data.title}</dd>
      <dt>artist</dt>
      <dd>{post.data.artist}</dd>
      <dt>album</dt>
      <dd>{post.data.album}</dd>
    </dl>

    <Content />
  </article>
</main>

<style>
  article {
    max-width: 60ch;

    border: thick double gainsboro;

    padding-inline: 1ch;
  }
</style>
