---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  post: CollectionEntry<"songs">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<main>
  <article>
    <dl>
      <dt>date</dt>
      <dd>{post.data.date}</dd>
      <dt>tags</dt>
      <dd>{post.data.tags?.join(", ")}</dd>
      <dt>category</dt>
      <dd>{post.data.category}</dd>
    </dl>

    <Content />
  </article>
</main>

<style>
  article {
    max-width: 60ch;

    border: thick double gainsboro;

    padding-inline: 1ch;
  }

  dl {
    color: lightgray;
  }
</style>
